@page
@using DevExpress.DashboardWeb



<div style="left:0;top:0;">
    <input type="button" id="button1" value="Switch to Viewer" onclick="switchMode()" />
</div>


<div style="position: absolute; left: 0; top: 0; right: 0; bottom: 0;">
@(Html.DevExpress().Dashboard("dashboardControl1")
    .ControllerName("DefaultDashboard")
    .Width("100%")
    .Height("100%")
    //.WorkingMode(WorkingMode.Viewer)
    .OnBeforeRender("onBeforeRender")
)
</div>
